@model Mooreameu.App.Models.ViewModels.User.UserShortViewModel
<h3>@Html.ActionLink(Model.UserName, actionName: "Profile", 
controllerName: "User", routeValues: new {id = Model.Id }, htmlAttributes: null)</h3>