@model IEnumerable<Mooreameu.App.Models.ViewModels.Contests.ContestShortViewModel>
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Team Mooremeu</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Newest contests</h2>
        @Html.DisplayForModel();
        <p><a class="btn btn-default" href="~/contests/all">View all &raquo;</a></p>
    </div>
</div>