<li>@Html.ActionLink("Home", "Index", "Home")</li>
@if (User.Identity.IsAuthenticated)
{
    <li>@Html.ActionLink("Profile", "Profile", "User")</li>
    if (User.IsInRole("Administrator"))
    {
        <li>@Html.ActionLink("Administration", "Index", "Admin", new {area = "Admin"}, new {})</li>
    }
}